@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mantenimiento de Rutas";
}

<h1 style="margin-top:40px;">Rutas</h1>

<p>
    <a asp-action="AgregarRutas" asp-controller="Rutas">Registrar Ruta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo_pasaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costo_pasaje)
                </td>
                <td>
                    @Html.ActionLink("Editar", "ModificarRutas", new { Id = item.Id }) |
                    @Html.ActionLink("Eliminar", "EliminarRuta", new { Id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
